@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');

// use litera as the base
$theme: "litera" !default;

// fonts
$font-family-sans-serif: 'Quicksand', sans-serif;
$font-family-monospace: 'Quicksand', sans-serif;

// colours
// $body-bg: #FFFBF7;
$link-color: #E06E53;
$navbar-hl: #E06E53;

.h4 {
  font-size: 1.11rem !important;
}

h4 {
  font-size: 1.11rem !important;
}
