/* Title image */
.logo {
    background-image: url("images/logos/title_image.png");
    background-size: cover; /* Cover the entire div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repetition */
    
    position: relative;
    top: -20vh;
    left: 0;
    width: 100vw; /* Full width of the viewport */
    height: 80vh; /* Adjust height as needed */
    clip-path: inset(20vh 0px 0px 0px); /* Crops 20% from the top */
    
    margin: 0;
    padding: 0;

    margin-bottom: 20px; /* Adjust this value to reduce space below the image */
}

/* Default: Center all elements */
main {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Ensure text is centered */
}
